<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>project name</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <script src="bower_components/modernizr/modernizr.js"></script>
    </head>
    <body>
        <!--  html-build:section pageHeader --><!-- /html-build -->

        <div class="hero-unit">
          <h1>'Allo, 'Allo!</h1>
          <p>You now have</p>
          <ul>
            <li>HTML5 Boilerplate</li>
            <li>Modernizr</li>
            <li>RequireJS</li>
            <li>LF JS-SDK</li>
            <li>LF Media Wall</li>
          </ul>
        </div>

        <!--  html-build:section pageFooter --><!-- /html-build -->

        <!--  html-build:section analytics --><!-- /html-build -->       
        
        <script src="bower_components/jquery/jquery.js"></script>
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <script src="scripts/requirejs.conf.js"></script>
    </body>
</html>
